* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body a {
    text-decoration: none;}
    
.header {
    width: 100vw;
    height: 12rem;
    background-color: #134a27;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    color: #c1c70a;
    font-size: 3.5rem;
}

.header a {
    color: #c1c70a;
}

.header ul {
    list-style: none;
    display: flex;
    margin-top: 1rem;
}

.header li a {
    text-decoration: none;
    font-size: 2rem;
    padding: 3rem 5rem;
}